<!DOCTYPE html>
<html>
  <% include partial/head %>
  <body>
    <% include partial/navbar %>
    <div class="container contents">
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="subtitle">更新履歴</div>
            <p>[2018.05.28]<br>リツイートされた日付の上限を指定できるようになりました。</p>
            <p>[2018.04.27]<br>ページの先頭にジャンプするボタンを実装しました。</p>
            <p>[2018.04.25]<br>「このサイトについて」を追加しました。</p>
            <p>[2018.04.23]<br>サイトをリニューアルしました。</p>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="subtitle">仕様</div>
            <p>
              Q. ツイートをもっと遡れないの?<br>
              A. Twitter APIの仕様により、取得できるツイートは直近の3200件となります。
            </p>
            <p>
              Q. 日付の上限を指定したら、表示に時間が掛かる!<br>
              A. 大変心苦しいのですが仕様です。<br>
              リツイートした日付の上限を指定した場合、最新のツイートから順に取得→指定した日付以前のリツイートが現れたら表示開始、という動作をするためです。
            </p>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="subtitle">お問い合わせ</div>
            <p>ご意見や不具合のご報告などございましたら、<a href="https://twitter.com/mizuff_k" target="_black">@mizuff_k</a>までお願いします。</p>
          </div>
        </div>
      </div>
    </div>
    <% include partial/footer %>
  </body>
</html>