<!DOCTYPE html>
<html>
  <% include partial/head %>
  <body>
    <% include partial/navbar %>
    <div class="container contents">
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="subtitle">更新履歴</div>
            <p>[2018.04.25]「このサイトについて」を追加しました。</p>
            <p>[2018.04.23]サイトをリニューアルしました。</p>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="subtitle">仕様</div>
            <p>Twitter APIの仕様により、取得できるツイートは直近の3200件となります。</p>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="subtitle">その他</div>
            <p>ご意見や不具合のご報告などございましたら、<a href="http://mizuff.hatenablog.com/entry/retweetlog-renewal">こちら</a>のコメント欄までお願いします。</p>
          </div>
        </div>
      </div>
    </div>
    <% include partial/footer %>
  </body>
</html>