<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>RTだけ表示するやつ</title>
  <meta name="author" content="mizuff">
  <meta name="keywords" content="Twitter,ツイッター,RT,リツイート,filter,フィルター,抜き出し,絞り込み,表示">
  <meta name="description" content="ユーザータイムラインからRTを抜き出して表示するWebアプリ">
  <meta name="robots" content="all">
  <!-- responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="js/myFetch.js"></script>
</head>
<body>
  <form method="post" id="readLatest">
    <input type="text" name="screenName" maxlength="15">
    <input type="hidden" name="maxId" value="null">
    <input type="hidden" name="reset" value="true">
    <button type="submit" value="検索">SEARCH</button>
  </form>
  <!--
  <div><%= rateLimitStatus['remaining'] %>/<%= rateLimitStatus['limit'] %></div>
  -->
  <div id="items"></div> 
</body>