<!DOCTYPE html>
<html>
  <% include partial/head %>
  <body>
    <% include partial/navbar %>
    <div class="container contents">
      <form method="post" id="readLatest">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">@</a>
          </p>
          <p class="control">
            <input type="text" class="input" name="screenName" placeholder="TwitterID" maxlength="15" required>
            <input type="hidden" name="maxId" value="null">
            <input type="hidden" name="untilDate" value="null">
            <input type="hidden" name="reset" value="true">
            <input type="hidden" name="_csrf" value="<%= csrftoken %>">
          </p>
          <p class="control">
            <button type="submit" class="button is-info">検索</button>
          </p>
        </div>
      </form>
      <% include partial/hero %>
      <!--
        <% if (rateLimitStatus) { %>
          <div><%= rateLimitStatus['remaining'] %>/<%= rateLimitStatus['limit'] %></div>
        <% } %>
      -->
      <div id="items"></div>
    </div>
    <% include partial/footer %>
  </body>
</html>