<!DOCTYPE html>
<html>
  <% include partial/head %>
  <body onload="fillToday(); adjustWidth();">
    <% include partial/navbar %>
    <div class="container contents">
      <form method="post" id="readLatest">
        <div id="simple" class="field is-grouped">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">@</a>
            </p>
            <p class="control">
              <input type="text" class="input" name="screenName" placeholder="TwitterID" maxlength="15" required>
              <input type="hidden" name="maxId" value="">
              <!--<input type="hidden" name="untilDate" value="null">-->
              <input type="hidden" name="reset" value="true">
              <input type="hidden" name="_csrf" value="<%= csrftoken %>">
            </p>
            <p class="control">
              <button type="submit" class="button is-info">検索</button>
            </p>
          </div>
          &nbsp;&nbsp;
          <div>
            <p class="control">
              <span id="showDetail" type="submit" class="button" onclick="toggle();">詳細&nbsp;<i class="fas fa-angle-down"></i></span>
            </p>
          </div>
        </div>
        <div id="detail" style="display: none;">
          <div class="option">
            <p class="control">
              リツイートした日付の上限:
            </p>
            <p class="control">
              <input id="untilDate" class="input" type="date" name="untilDate">
            </p>    
          </div>
          <div class="option">
            <p class="control">
              ユーザー本人のツイート:
            </p>
            <p class="control">
              <label class="radio">
                <input type="radio" name="includeSelf" value="true" checked>含む
              </label>
              <label class="radio">
                <input type="radio" name="includeSelf" value="false">除外する
              </label>
            </p> 
          </div>
          <div class="option">
          <p class="control">
            画像/動画の表示:
          </p>
          <p class="control">
            <label class="radio">
              <input type="radio" name="showCards" value="true" checked>する
            </label>
            <label class="radio">
              <input type="radio" name="showCards" value="false">しない
            </label>
          </p> 
        </div>
        </div>
      </form>
      <% include partial/hero %>
      <!--
        <% if (rateLimitStatus) { %>
          <div><%= rateLimitStatus['remaining'] %>/<%= rateLimitStatus['limit'] %></div>
        <% } %>
      -->
      <div id="items"></div>
      <div onclick="jumpToTop()" id="jumpToTop">
        <i class="fas fa-chevron-up"></i>
      </div>
    </div>
    <% include partial/footer %>
  </body>
</html>