html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Mplus 1p";
    margin-bottom: 60px;
}

@media screen and (max-width: 1216px) {
    .contents {
        padding: 0 10px;
    }
}

form {
    margin: 10px 0;
}

.columns {
    margin: 0px -5px;
}
.column {
    margin: 0 -5px -10px;
}

p {
    margin: 5px 0;
}

li {
    margin-bottom: 2px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.page-title{
    font-size: 18pt;
}

.hero {
    padding: 10px
}
