html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Mplus 1p";
    margin-bottom: 30px;
}

@media screen and (max-width: 1216px) {
    .contents {
        padding: 0 10px;
    }
}

form {
    margin: 10px 0;
}

.columns {
    margin: 0px -5px;
}
.column {
    margin: 0 -5px -10px;
}

p {
    margin: 5px 0;
}

li {
    margin-bottom: 2px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.page-title{
    font-size: 18pt;
}

.hero {
    padding: 10px
}

footer p {
    font-size: 14px;
}

#jumpToTop {
    position: fixed;
    z-index: 0;
    right: 10px;
    bottom: 31px;
    background-color: rgba(153, 153, 153, 0.5);
    padding: 6px 11px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    display: none;  /* initial state */
}

#jumpToTop:hover {
    background-color: rgba(187, 187, 187, 0.5);
}