<footer>
  <div class="container">
    <div class="content has-text-centered"> 
      <p>(c)2019 - RTだけ表示するやつ <a href="https://github.com/bookii/retweetlog-nodejs" target="_blank"><i class="fab fa-github"></i></a></p>
    </div>
  </div>
</footer>  
