<section class="hero is-light is-medium">
  <h1 class="title">説明しよう！</h1>
  <ul>
    <li>TwitterIDを入力すると、そのユーザーが<strong>RTしたツイートだけを表示</strong>できるぞ！</li>
    <li>基本的に<strong>ログインなし</strong>で使用可能だ！</li>
    <li>API上限に達している場合や、自分がフォローしている非公開アカウントで検索したい場合などは、自分のTwitterアカウントでログインしよう！</li>
  </ul>
</section>