<nav class="navbar">
  <div class="container">
  <div class="navbar-brand">
    <a href="/" class="navbar-item page-title"><i class="fas fa-retweet"></i>RTだけ表示するやつ</a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a href="/about" class="navbar-item">このサイトについて</a>
      <% if (!isLoggedIn) { %>
        <a href="/auth/twitter" class="navbar-item">ログイン</a>
      <% } else { %>
        <a class="navbar-item">@<%= loggedInAs %>でログイン中</a>
        <a href="/logout" class="navbar-item">ログアウト</a>
      <% } %>
    </div>
  </div>
  </div>
</nav>